## 코드

In [1]:
import pandas as pd
import numpy as np

import re

In [77]:
del list_Data

In [78]:
list_Data = []

In [79]:
def reColindex(df, ori, fix):
    cols = df.columns.tolist()
    tmp = cols[fix - 1]
    del cols[fix - 1]
    cols.insert(ori - 1, tmp)
    return df[cols]

In [6]:
'''
str_File = "air/2013년0X분기"
for i in range(4) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    list_Data[i] = reColindex(list_Data[i], 3, 2)
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()
'''

'\nstr_File = "air/2013년0X분기"\nfor i in range(4) :\n    list_Data.append(pd.read_excel(str_File.replace(\'X\', str(i + 1)) + ".xlsx"))\n    list_Data[i] = reColindex(list_Data[i], 3, 2)\n    \nprint(len(list_Data))\nlist_Data[len(list_Data) - 1].head()\n'

In [80]:
str_File = "air/2014년 X분기"
for i in range(4) :
    list_Data.append(pd.read_csv(str_File.replace('X', str(i + 1)) + ".csv", encoding = 'EUC-KR'))
    list_Data[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_Data[-1] = list_Data[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

4

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20141001,0.002083,0.420833,0.012333,0.012750,32.333333,NaN
1,강원 강릉시,632132,옥천동,20141002,0.001917,0.550000,0.016375,0.015917,42.458333,NaN
2,강원 강릉시,632132,옥천동,20141003,0.001542,0.558333,0.036042,0.007250,28.916667,NaN
3,강원 강릉시,632132,옥천동,20141004,0.001917,0.583333,0.017583,0.014167,31.250000,NaN
4,강원 강릉시,632132,옥천동,20141005,0.001625,0.583333,0.026875,0.007875,24.625000,NaN

In [81]:
str_File = 'air/2015년X분기'
for i in range(4) :
    list_Data.append(pd.read_csv(str_File.replace('X', str(i + 1)) + ".csv"))
    list_Data[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_Data[-1] = list_Data[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()

print(len(list_Data))
list_Data[len(list_Data) - 1].head()

8

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20151001,0.002000,0.475000,0.021583,0.011917,26.739130,6.333333
1,강원 강릉시,632132,옥천동,20151002,0.002083,0.429167,0.035375,0.006167,38.708333,5.666667
2,강원 강릉시,632132,옥천동,20151003,0.002750,0.512500,0.049958,0.008333,56.625000,19.458333
3,강원 강릉시,632132,옥천동,20151004,0.002167,0.491667,0.027667,0.011458,32.416667,6.208333
4,강원 강릉시,632132,옥천동,20151005,0.002625,0.541667,0.026542,0.015500,36.833333,7.541667

In [82]:
str_File = 'air/2016년 X분기'
for i in range(4) :
    list_Data.append(pd.read_csv(str_File.replace('X', str(i + 1)) + ".csv", encoding = 'EUC-KR'))
    list_Data[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_Data[-1] = list_Data[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()

print(len(list_Data))
list_Data[len(list_Data) - 1].head()

12

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20161001,0.003042,0.475000,0.013708,0.013417,45.333333,24.208333
1,강원 강릉시,632132,옥천동,20161002,0.002958,0.437500,0.015958,0.015333,49.318182,24.863636
2,강원 강릉시,632132,옥천동,20161003,0.003042,0.320833,0.031542,0.011458,31.041667,16.125000
3,강원 강릉시,632132,옥천동,20161004,0.003125,0.370833,0.020542,0.014958,39.041667,19.958333
4,강원 강릉시,632132,옥천동,20161005,0.003000,0.445833,0.011167,0.017417,32.000000,18.583333

In [83]:
str_File = 'air/2017년 X월'
for i in range(12) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    if "망" in list_Data[len(list_Data) - 1].columns.tolist() :
        list_Data[len(list_Data) - 1] = list_Data[len(list_Data) - 1].drop(['망'], axis = 1)
    list_Data[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_Data[-1] = list_Data[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

24

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20171201,0.002708,0.400000,0.025417,0.010792,16.750000,11.947368
1,강원 강릉시,632132,옥천동,20171202,0.002917,0.466667,0.023500,0.011042,24.041667,16.227273
2,강원 강릉시,632132,옥천동,20171203,0.003875,0.554167,0.034083,0.008333,41.583333,31.000000
3,강원 강릉시,632132,옥천동,20171204,0.004182,0.550000,0.030136,0.010591,50.590909,40.421053
4,강원 강릉시,632132,옥천동,20171205,0.004042,0.333333,0.028208,0.008417,10.291667,8.250000

In [84]:
str_File = 'air/2018년 X분기'
for i in range(4) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    if "망" in list_Data[len(list_Data) - 1].columns.tolist() :
        list_Data[len(list_Data) - 1] = list_Data[len(list_Data) - 1].drop(['망'], axis = 1)
    list_Data[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_Data[-1] = list_Data[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

28

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20181001,0.002917,0.2,0.034333,0.006083,16.708333,14.000
1,강원 강릉시,632132,옥천동,20181002,0.003000,0.2,0.029091,0.006364,16.272727,13.125
2,강원 강릉시,632132,옥천동,20181003,NaN,NaN,NaN,NaN,NaN,NaN
3,강원 강릉시,632132,옥천동,20181004,NaN,NaN,NaN,NaN,NaN,NaN
4,강원 강릉시,632132,옥천동,20181005,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
str_File = 'air/2019년 X월'
for i in range(9) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    if "망" in list_Data[len(list_Data) - 1].columns.tolist() :
        list_Data[len(list_Data) - 1] = list_Data[len(list_Data) - 1].drop(['망'], axis = 1)
    list_Data[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_Data[-1] = list_Data[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

37

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20190901,0.001250,0.579167,0.057958,0.007292,27.875000,14.173913
1,강원 강릉시,632132,옥천동,20190902,0.001167,0.462500,0.038958,0.009625,30.958333,13.208333
2,강원 강릉시,632132,옥천동,20190903,0.001000,0.495833,0.027000,0.013958,22.791667,11.130435
3,강원 강릉시,632132,옥천동,20190904,0.001000,NaN,0.026292,0.011625,11.916667,3.043478
4,강원 강릉시,632132,옥천동,20190905,0.001000,0.200000,0.015875,0.009667,18.875000,5.285714

In [101]:
df = pd.concat(list_Data)
df.to_csv("날씨_시계열_데이터.csv", encoding = "utf-8", index = False)

In [102]:
dfTest = pd.read_csv("날씨_시계열_데이터.csv")
dfTest

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20140101,0.009042,0.654167,0.019458,0.012000,82.333333,NaN
1,강원 강릉시,632132,옥천동,20140102,0.007167,0.591667,0.016333,0.013667,44.791667,NaN
2,강원 강릉시,632132,옥천동,20140103,0.009750,0.770833,0.019542,0.016458,63.083333,NaN
3,강원 강릉시,632132,옥천동,20140104,0.006875,0.795833,0.011708,0.016000,40.916667,NaN
4,강원 강릉시,632132,옥천동,20140105,0.007292,0.745833,0.012042,0.012708,26.041667,NaN
...,...,...,...,...,...,...,...,...,...,...
730516,충북 충주시,633123,칠금동,20190926,0.003333,0.670833,0.014667,0.021542,33.750000,14.875000
730517,충북 충주시,633123,칠금동,20190927,0.003667,0.645833,0.015375,0.026292,29.958333,9.666667
730518,충북 충주시,633123,칠금동,20190928,0.003417,0.666667,0.018625,0.023917,39.250000,19.541667
730519,충북 충주시,633123,칠금동,20190929,0.003042,0.587500,0.025792,0.018667,43.583333,26.541667
730520,충북 충주시,633123,칠금동,20190930,0.003792,0.691667,0.025125,0.027292,50.375000,29.750000

In [154]:
if "망" in list_Data[13].columns.tolist() :
    print("있다")

In [ ]:
list

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,강원 강릉시,632132,옥천동,201401,0.010,0.6,0.022,0.011,132.0,NaN,강원 강릉시 옥천동
1,강원 강릉시,632132,옥천동,201401,0.010,0.6,0.021,0.011,121.0,NaN,강원 강릉시 옥천동
2,강원 강릉시,632132,옥천동,201401,0.011,0.9,0.019,0.011,101.0,NaN,강원 강릉시 옥천동
3,강원 강릉시,632132,옥천동,201401,0.011,1.0,0.014,0.017,82.0,NaN,강원 강릉시 옥천동
4,강원 강릉시,632132,옥천동,201401,0.017,1.4,0.008,0.024,69.0,NaN,강원 강릉시 옥천동
...,...,...,...,...,...,...,...,...,...,...,...
680395,충북 충주시,633123,칠금동,201403,0.005,0.5,0.043,0.041,88.0,NaN,충북 충주시 칠금동
680396,충북 충주시,633123,칠금동,201403,0.005,0.6,0.025,0.056,82.0,NaN,충북 충주시 칠금동
680397,충북 충주시,633123,칠금동,201403,0.007,1.0,0.010,0.059,89.0,NaN,충북 충주시 칠금동
680398,충북 충주시,633123,칠금동,201403,0.005,0.8,0.006,0.059,92.0,NaN,충북 충주시 칠금동
680399,충북 충주시,633123,칠금동,201403,0.004,0.6,0.007,0.047,97.0,NaN,충북 충주시 칠금동

'air/2013년01분기'