# 날씨 데이터 정제 코드

## 라이브러리 로드

In [1]:
import pandas as pd
import numpy as np

import re

## 리스트 생성

In [2]:
#del list_Data

In [3]:
list_Data = []

### 함수 생성
* 컬럼 순서 변경 함수
* 필요없는 컬럼 삭제 / 시간별을 날짜별로 처리 / 그룹화 하여 평균 처리 함수

In [4]:
def reColindex(df, ori, fix):
    cols = df.columns.tolist()
    tmp = cols[fix - 1]
    del cols[fix - 1]
    cols.insert(ori - 1, tmp)
    return df[cols]

In [5]:
def DataModify(list_D):
    if "망" in list_D[len(list_Data) - 1].columns.tolist() :
        list_D[len(list_Data) - 1] = list_D[len(list_Data) - 1].drop(['망'], axis = 1) 
    list_D[-1]["측정일시"] = list_Data[-1]["측정일시"].astype(str).str.slice(start = 0, stop = -2)
    list_D[-1] = list_D[-1].groupby(["지역", "측정소코드", "측정소명", "측정일시"]).mean().reset_index()

* 2013 년까지 데이터화 하면 용량 100메가 초과로 인해서 깃허브 푸쉬 에러 문제 발생 - 일단 사용 안함

In [6]:
#str_File = "air/2013년0X분기"
#for i in range(4) :
#    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
#    list_Data[i] = reColindex(list_Data[i], 3, 2)
#    list_Data[i]['PM25'] = np.nan
#   list_Data[i] = reColindex(list_Data[i], 11, 10)
#    DataModify(list_Data)   
#    
#print(len(list_Data))
#list_Data[len(list_Data) - 1].head()

## 2014 년부터 2019 년까지 데이터 불러와서 정제 처리

* 2014년

In [2]:
str_Root = "D:/5 Project/GitHub/CollaborationWork/jyeon94/Learning_Spoons_Second_Project/"

In [7]:
str_File = str_Root + "air/2014년 X분기"
for i in range(4) :
    list_Data.append(pd.read_csv(str_File.replace('X', str(i + 1)) + ".csv", encoding = 'EUC-KR'))
    DataModify(list_Data)
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

4

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20141001,0.002083,0.420833,0.012333,0.012750,32.333333,NaN
1,강원 강릉시,632132,옥천동,20141002,0.001917,0.550000,0.016375,0.015917,42.458333,NaN
2,강원 강릉시,632132,옥천동,20141003,0.001542,0.558333,0.036042,0.007250,28.916667,NaN
3,강원 강릉시,632132,옥천동,20141004,0.001917,0.583333,0.017583,0.014167,31.250000,NaN
4,강원 강릉시,632132,옥천동,20141005,0.001625,0.583333,0.026875,0.007875,24.625000,NaN

* 2015년

In [3]:
str_File = str_Root + 'air/2015년X분기'
for i in range(4) :
    list_Data.append(pd.read_csv(str_File.replace('X', str(i + 1)) + ".csv"))
    DataModify(list_Data)

print(len(list_Data))
list_Data[len(list_Data) - 1].head()

SyntaxError: EOL while scanning string literal (<ipython-input-3-02e641e670ca>, line 1)

* 2016년

In [9]:
str_File = str_Root + 'air/2016년 X분기'
for i in range(4) :
    list_Data.append(pd.read_csv(str_File.replace('X', str(i + 1)) + ".csv", encoding = 'EUC-KR'))
    DataModify(list_Data)

print(len(list_Data))
list_Data[len(list_Data) - 1].head()

12

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20161001,0.003042,0.475000,0.013708,0.013417,45.333333,24.208333
1,강원 강릉시,632132,옥천동,20161002,0.002958,0.437500,0.015958,0.015333,49.318182,24.863636
2,강원 강릉시,632132,옥천동,20161003,0.003042,0.320833,0.031542,0.011458,31.041667,16.125000
3,강원 강릉시,632132,옥천동,20161004,0.003125,0.370833,0.020542,0.014958,39.041667,19.958333
4,강원 강릉시,632132,옥천동,20161005,0.003000,0.445833,0.011167,0.017417,32.000000,18.583333

* 2017년

In [10]:
str_File = str_Root + 'air/2017년 X월'
for i in range(12) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    DataModify(list_Data)
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

24

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20171201,0.002708,0.400000,0.025417,0.010792,16.750000,11.947368
1,강원 강릉시,632132,옥천동,20171202,0.002917,0.466667,0.023500,0.011042,24.041667,16.227273
2,강원 강릉시,632132,옥천동,20171203,0.003875,0.554167,0.034083,0.008333,41.583333,31.000000
3,강원 강릉시,632132,옥천동,20171204,0.004182,0.550000,0.030136,0.010591,50.590909,40.421053
4,강원 강릉시,632132,옥천동,20171205,0.004042,0.333333,0.028208,0.008417,10.291667,8.250000

* 2018년

In [11]:
str_File = str_Root + 'air/2018년 X분기'
for i in range(4) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    DataModify(list_Data)
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

28

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20181001,0.002917,0.2,0.034333,0.006083,16.708333,14.000
1,강원 강릉시,632132,옥천동,20181002,0.003000,0.2,0.029091,0.006364,16.272727,13.125
2,강원 강릉시,632132,옥천동,20181003,NaN,NaN,NaN,NaN,NaN,NaN
3,강원 강릉시,632132,옥천동,20181004,NaN,NaN,NaN,NaN,NaN,NaN
4,강원 강릉시,632132,옥천동,20181005,NaN,NaN,NaN,NaN,NaN,NaN

* 2019 년

In [12]:
str_File = str_Root + 'air/2019년 X월'
for i in range(9) :
    list_Data.append(pd.read_excel(str_File.replace('X', str(i + 1)) + ".xlsx"))
    DataModify(list_Data)
    
print(len(list_Data))
list_Data[len(list_Data) - 1].head()

37

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,20190901,0.001250,0.579167,0.057958,0.007292,27.875000,14.173913
1,강원 강릉시,632132,옥천동,20190902,0.001167,0.462500,0.038958,0.009625,30.958333,13.208333
2,강원 강릉시,632132,옥천동,20190903,0.001000,0.495833,0.027000,0.013958,22.791667,11.130435
3,강원 강릉시,632132,옥천동,20190904,0.001000,NaN,0.026292,0.011625,11.916667,3.043478
4,강원 강릉시,632132,옥천동,20190905,0.001000,0.200000,0.015875,0.009667,18.875000,5.285714

## 데이터 병합 처리

In [13]:
df = pd.concat(list_Data)

## 날짜 데이터 타입 변경

In [14]:
df["측정일시"] = pd.to_datetime(df["측정일시"])
#df.sort_values(by=["측정일시", "지역"], axis=0, ascending = True)

## 데이터 csv 파일로 저장

In [15]:
df.to_csv("날씨_시계열_데이터.csv", encoding = "CP949", index = False)

## 데이터 확인

In [16]:
dfTest = pd.read_csv(str_Root + "날씨_시계열_데이터.csv", encoding = "CP949")
dfTest.shape

(730521, 10)

In [17]:
dfTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730521 entries, 0 to 730520
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역      730521 non-null  object
 1   측정소코드   730521 non-null  int64
 2   측정소명    730521 non-null  object
 3   측정일시    730521 non-null  object
 4   SO2     704370 non-null  float64
 5   CO      702959 non-null  float64
 6   O3      705593 non-null  float64
 7   NO2     711765 non-null  float64
 8   PM10    700957 non-null  float64
 9   PM25    419647 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 55.7+ MB

In [18]:
dfTest

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25
0,강원 강릉시,632132,옥천동,2014-01-01,0.009042,0.654167,0.019458,0.012000,82.333333,NaN
1,강원 강릉시,632132,옥천동,2014-01-02,0.007167,0.591667,0.016333,0.013667,44.791667,NaN
2,강원 강릉시,632132,옥천동,2014-01-03,0.009750,0.770833,0.019542,0.016458,63.083333,NaN
3,강원 강릉시,632132,옥천동,2014-01-04,0.006875,0.795833,0.011708,0.016000,40.916667,NaN
4,강원 강릉시,632132,옥천동,2014-01-05,0.007292,0.745833,0.012042,0.012708,26.041667,NaN
...,...,...,...,...,...,...,...,...,...,...
730516,충북 충주시,633123,칠금동,2019-09-26,0.003333,0.670833,0.014667,0.021542,33.750000,14.875000
730517,충북 충주시,633123,칠금동,2019-09-27,0.003667,0.645833,0.015375,0.026292,29.958333,9.666667
730518,충북 충주시,633123,칠금동,2019-09-28,0.003417,0.666667,0.018625,0.023917,39.250000,19.541667
730519,충북 충주시,633123,칠금동,2019-09-29,0.003042,0.587500,0.025792,0.018667,43.583333,26.541667
730520,충북 충주시,633123,칠금동,2019-09-30,0.003792,0.691667,0.025125,0.027292,50.375000,29.750000

In [19]:
if "망" in list_Data[13].columns.tolist() :
    print("있다")

In [20]:
dfTest.loc[502562,]

지역           강원 춘천시
측정소코드        132113
측정소명            석사동
측정일시     2018-05-03
SO2        0.003375
CO         0.329167
O3         0.045375
NO2       0.0102917
PM10        22.1667
PM25             12
Name: 502562, dtype: object